.CritterCard {
    background-color: #fef8e4;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 1.5rem;
    box-shadow: 0px 5px 10px #674b31;
}

.CritterCard > img{
    max-width: 128px;
    margin: auto;
    margin-top: 20px;
}

.Footer {
    font-size: 0.9rem;
}

.Footer:last-child {
    border-radius: 1.5rem;
}